body {
    font-family: system-ui, monospace;
    padding: 2emx;
    color: #33170E;
    background-color: #5C3222;
}

.h11 {
    color: #F26898;
    text-align: center;
}
#greeting {
    color: #3b82f6;
}
#btn-group1{
    display: flex;
    padding: 7em;
    gap: 2em;
    flex-direction:column;
}
button  {
    padding: 2em 1em;
    border-radius: 2em;
    border: .25em solid #d1d5db;
    cursor: pointer;
}
#artgarden-btn {
    padding: 2em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 650;
    border-radius: 2em;
    border: .25em solid #90D948;
    background-color: #90D948;
    cursor: pointer;
}

#artgarden-btn:hover{
    transition-duration: 0.4s;
    background-color: #698a45;
    border: .25em  solid #698a45;
}

#inspiration-btn {
    padding: 2em 1em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 650;
    border-radius: 2em;
    border: .25em  solid #B668D9;
    background-color: #B668D9;
    cursor: pointer;
}

#inspiration-btn:hover{
    transition-duration: 0.4s;
    background-color: #8f4bae;
    border: .25em solid #8f4bae;
}

#commissions-btn {
    padding: 2em 1em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 650;
    border-radius: 2em;
    border: .25em solid #00CFCC;
    background-color: #00CFCC;
    cursor: pointer;
}

#commissions-btn:hover{
    transition-duration: 0.4s;
    background-color: #059f9c;
    border: .25em  solid #059f9c;
}

#about-btn {
    padding: 2em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 650;
    
    border-radius: 2em;
    border: .25em  solid #F27EC1;
    background-color: #F27EC1;
    cursor: pointer;
}

#about-btn:hover{
    transition-duration: 0.5s;
    background-color: #b3598e;
    border: .25em solid #b3598e;
}

.WIPTITLE{
    color:#FFB826;
    text-align: center;
    font-weight: bold;
    font-style:oblique;
}
p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #90D948;
}
