

@font-face{
	font-family:'Starborn';
	src:url(fonts/Starborn.tff);
}



body{
background-color:#3B1709;
}





title{
color:#94482E;
font-family:Starborn, sanserif;
font-size: 2.5em; /*2.5*16=40px*/
}


h1{
color:#460809;
}
p{
color:#84B85C;
}
